[submodule "Secure-Wallet/lib/forge-std"]
	path = Secure-Wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Charity/lib/forge-std"]
	path = Charity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Escrow/lib/forge-std"]
	path = Escrow/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Payroll/lib/forge-std"]
	path = Payroll/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
